<div class="sidenav">
  <div class="login-main-text">
     <h2><b>Schedulling Barber</b><br></h2>
     <p>Faça login ou registre-se aqui para acessar.</p>
  </div>
</div>
<div class="main">
  <div class="col-md-7 col-sm-12">
     <div class="login-form">
      <div class='form-inline'>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" [(ngModel)]="selectedOptionForForm" value="1" checked>
          <label class="form-check-label" for="exampleRadios1">
            Barbeiro
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" [(ngModel)]="selectedOptionForForm" value="2">
          <label class="form-check-label" for="exampleRadios2">
            Cliente
          </label>
        </div>
      </div>


        <form *ngIf="selectedOptionForForm === '1'">
          <div class="form-group">
            <label>Nome: </label>
            <input type="email" class="form-control" placeholder="Insira seu email" [(ngModel)]="barber.name" name='name'>
          </div>
          <div class="form-group">
            <label>Sexo:  </label>
            <select class="form-control" aria-label="Selecione uma opção" [(ngModel)]="barber.sex" name='sex'>
              <option selected disabled>Selecione uma opção</option>
              <option value="MASCULINO">Masculino</option>
              <option value="FEMININO">Feminino</option>
            </select>
          </div>
          <div class="form-group">
            <label>Telefone:  </label>
            <input type="text" class="form-control" placeholder="Insira seu número de telefone" [(ngModel)]="barber.phone" name="phone" [(ngModel)]="phoneNumber" (ngModelChange)="formatPhoneNumber()" maxlength="15">
          </div>

          <div class="form-group">
            <label>Endereço:  </label>
            <input type="text" class="form-control" placeholder="Insira seu endereço aqui" [(ngModel)]="barber.address" name="address" >
          </div>

          <div class="form-group">
            <label>Data de Nascimento:  </label>
            <input type="date" class="form-control" placeholder="Insira sua data de Nascimento" [(ngModel)]="barber.birthday"name="birthday" >
          </div>

           <div class="form-group">
              <label>Email: </label>
              <input type="email" class="form-control" placeholder="Insira seu email" [(ngModel)]="barber.access.email"name='email'>
           </div>
           <div class="form-group">
              <label>Password</label>
              <input type="password" class="form-control" placeholder="Insira sua senha" [(ngModel)]="barber.access.password" name='password'>
           </div>
           <button type="submit" class="btn btn-black">Registrar</button>
           <a class='JaCadastrado' [routerLink]="['/login']" routerLinkActive="router-link-active">Já é cadastrado? Fazer login</a>
        </form>

        <form *ngIf="selectedOptionForForm === '2'">
          <div class="form-group">
            <label>Nome: </label>
            <input type="email" class="form-control" placeholder="Insira seu email" [(ngModel)]="client.name" name='name'>
          </div>
          <div class="form-group">
            <label>Sexo:  </label>
            <select class="form-control" aria-label="Selecione uma opção" [(ngModel)]="client.sex" name='sex'>
              <option selected disabled>Selecione uma opção</option>
              <option value="MASCULINO">Masculino</option>
              <option value="FEMININO">Feminino</option>
            </select>
          </div>

          <div class="form-group">
            <label>Data de Nascimento:  </label>
            <input type="date" class="form-control" placeholder="Insira sua data de Nascimento" [(ngModel)]="client.birthday" name="birthday" >
          </div>

           <div class="form-group">
              <label>Email: </label>
              <input type="email" class="form-control" placeholder="Insira seu email" [(ngModel)]="client.access.email" name='email'>
           </div>
           <div class="form-group">
              <label>Password</label>
              <input type="password" class="form-control" placeholder="Insira sua senha" [(ngModel)]="client.access.password" name='password'>
           </div>
           <button type="submit" class="btn btn-black">Registrar</button>
           <a class='JaCadastrado' [routerLink]="['/login']" routerLinkActive="router-link-active"><span>Já é cadastrado? Fazer login</span></a>
        </form>
     </div>
  </div>
</div>
