<sidenav></sidenav>

<div class='schedule'>
  <div class = 'card-name'>
    <form>
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Nome</label>
        <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
      </div>
      <div class="mb-3">
        <label for="Select" class="form-label">Serviço: </label>
        <select class="form-select" aria-label="Default select example">
          <option selected>Selecione</option>
          <option value="1">Cabelo</option>
          <option value="2">Barba</option>

        </select>
      </div>



    </form>
  </div>
  <div class='card-table'>
  <table class="table">
    <thead class='thead-dark'>
      <tr>
        <th scope='col'>Horario</th>
        <th scope="col">Nome</th>
        <th scope="col">Serviço</th>
        <th scope="col">Valor</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>08:00AM</td>
        <td>Luan Vitor Batista do Nascimento</td>
        <td>Cabelo, Barba</td>
        <td>R$ 70</td>
      </tr>
      <tr>
        <td>08:00AM</td>
        <td>Luan Vitor Batista do Nascimento</td>
        <td>Cabelo, Barba</td>
        <td>R$ 70</td>
      </tr>
      <tr>
        <td>08:00AM</td>
        <td>Luan Vitor Batista do Nascimento</td>
        <td>Cabelo, Barba</td>
        <td>R$ 70</td>
      </tr>
      <tr>
        <td>08:00AM</td>
        <td>Luan Vitor Batista do Nascimento</td>
        <td>Cabelo, Barba</td>
        <td>R$ 70</td>
      </tr>
      <tr>
        <td>08:00AM</td>
        <td>Luan Vitor Batista do Nascimento</td>
        <td>Cabelo, Barba</td>
        <td>R$ 70</td>
      </tr>
      <tr>
        <td>08:00AM</td>
        <td>Luan Vitor Batista do Nascimento</td>
        <td>Cabelo, Barba</td>
        <td>R$ 70</td>
      </tr>
      <tr>
        <td>08:00AM</td>
        <td>Luan Vitor Batista do Nascimento</td>
        <td>Cabelo, Barba</td>
        <td>R$ 70</td>
      </tr>
      <tr>
        <td>08:00AM</td>
        <td>Luan Vitor Batista do Nascimento</td>
        <td>Cabelo, Barba</td>
        <td>R$ 70</td>
      </tr>
    </tbody>
  </table>
</div>
</div>
