<!--<div class="card">
  <div>
    <img class="image" src="{{ iconImage }}" />
    <p class="service">
      <b>{{ nomeCampo }}</b>
    </p>
  </div>
  <div class="card-name">
    <p class="quantity">{{ valor }}</p>
  </div>
</div> -->

<div class="w-96 max-h-52	 font-sans border rounded-md shadow-md transition ease-in-out delay-200 hover:-translate-y-1 hover:shadow-xl">
  <div>
    <div class="max-h-14 text-4xl ml-1 mt-2">
      <img class="float-left max-w-14 max-h-14 mr-3" src="{{ iconImage }}" />
      <p class="align-sub font-medium">{{ nomeCampo }}</p>
    </div>
  </div>
  <div class="">
    <p class="mb-2 translate-x-1 text-8xl font-semibold max-w-48 break-all text-end mr-3">{{ valor }}</p>
  </div>
</div>
