.barber {
  margin-top: 10rem;
  margin-left: 20rem;
}

.sidenav {
  position: fixed;
  z-index: 1;
}

.card-timeline {
  font-family: 'Poppins', sans-serif;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.125);
  box-shadow: 10px 10px 13px 0 rgba(50, 50, 50, 0.2);
  padding: 20px;
  margin: 40px;
  width: 500px;
  transition: all 0.3s ease-out;
  max-height: 200px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.card-timeline {
  width: 500px;
  max-height: none;
}

.card-name {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
p {
  margin: 0;
  padding: 0;
  line-height: 0.8;
}
.card-timeline p {
  color: #4f4f4f;
  font-family: sans-serif;
  line-height: 1.5;
  margin-top: 7px;
}

.sessions {
  margin-top: 3rem;
  position: relative;
}

.time {
  color: #2a2839;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
}

li {
  padding-left: 0px;
  padding-bottom: 2rem;
  border-left: 3px solid #261914;
  position: relative;
  padding-left: 0px;
  margin-left: 10px;
  left: -13px;
}

p.service {
  max-height: 50px;
}
.service {
  font-size: 35px;
  margin-left: 5rem;
  margin-top: 1rem;
}
.quantity {
  margin-left: 24rem;
  font-weight: bold;
  font-size: 100px;
}

.row {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card:hover,
.card-schedule:hover,
.card-timeline:hover {
  transform: translateY(-5px);
  cursor: pointer;
}

.image {
  float: left;
  max-width: 64px;
  max-height: 64px;
  margin-bottom: -30px;
}

ul,
li {
  list-style: none;
  padding-left: 10px;
}
ul {
  padding-left: 0px;
}

.card-timeline h1 {
  max-height: 50px;
  line-height: 1;
  font-size: 48px;
  font-family: 'Poppins', sans-serif;
}
