<sidenav class="sidenav"></sidenav>

<div class="mt-14 ml-80">
    <div class="grid grid-cols-3 gap-16 max-w-6xl max-h-52">
      <div class="cursor-pointer">
        <cardWithValues iconImage="assets/img/barbearia.png" nomeCampo="Serviços" valor="100" routerLink="/service"></cardWithValues>
      </div>
      <div class="cursor-pointer">
        <cardWithValues  iconImage="assets/img/schedule.png" nomeCampo="Agenda Diária" valor="130" routerLink="/schedule"></cardWithValues>
      </div>
      <div class="cursor-pointer">
        <cardWithValues  iconImage="assets/img/money-bag.png" nomeCampo="Estimativa do Dia" valor="100" routerLink="/schedule"></cardWithValues>
      </div>
    </div>
</div>
