.barber{
  margin-left: 300px;
}

.card{
  font-family: 'Poppins', sans-serif;
  border-radius: 5px;
  box-shadow: 10px 10px 13px 0 rgba(50,50,50,0.20);
  padding: 20px;
  margin: 20px;
  width: 400px;
  transition: all 0.3s ease-out;
  max-height: 200px;
  display: flex;
	flex-direction: column;
	gap: 20px;
}
.card-name{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
p {
	margin: 0;
	padding: 0;
	line-height: 0.8;
}

p.service {
  max-height: 50px;

}

.service {
	font-size: 48px;
}

.quantity {
  font-weight: bold;
	font-size: 100px;
}


.row{
  display: flex;
  align-items: center;
  justify-content: center;
}

.card:hover{
  transform: translateY(-5px);
  cursor: pointer;
}

.image {
  float: left;
  max-width: 64px;
  max-height: 64px;
  margin-bottom: -30px;
}

