<sidenav class='sidenav'></sidenav>

<div class='barber'>
  <div class = 'card'>
    <div>
      <img class='image' src='assets/img/barbearia.png'>
    </div>
    <div class = 'card-name'>
      <p class='service'><b>Serviços</b></p>
      <p class='quantity'>3</p>
    </div>
  </div>

  <div class = 'card-schedule' routerLink="/schedule">
    <div>
      <img class='image' src='assets/img/schedule.png'>
    </div>
    <div class = 'card-name'>
      <p class='service-schedule'><b>Agenda Diaria</b></p>
      <p class='quantity'>7</p>
    </div>
  </div>

  <div class = 'card-timeline' routerLink="/schedule">
    <div class="container">
      <div class="wrapper">
        <h1>Agenda do Dia</h1>
        <ul class="sessions">
          <li>
            <div class="time">09:00 AM</div>
            <p><b>Cliente:</b> Luan Vitor Batista do Nascimento</p>
            <p><b>Serviços:</b> Corte, Cabelo</p>
            <p><b>Valor:</b> R$70</p>
          </li>
          <li>
            <div class="time">10:00 AM</div>
            <p><b>Cliente:</b> Luan Vitor Batista do Nascimento</p>
            <p><b>Serviços:</b> Corte, Cabelo</p>
            <p><b>Valor:</b> R$70</p>
          </li>
          <li>
            <div class="time">11:00 AM</div>
            <p><b>Cliente:</b> Luan Vitor Batista do Nascimento</p>
            <p><b>Serviços:</b> Corte, Cabelo</p>
            <p><b>Valor:</b> R$70</p>
          </li>
        </ul>
      </div>
    </div>
  </div>


</div>
