<div class="sidenav">
  <div class="login-main-text">
     <h2><b>Schedulling Barber</b><br></h2>
     <p>Faça login ou registre-se aqui para acessar.</p>
  </div>
</div>
<div class="main">
  <div class="col-md-6 col-sm-12">
     <div class="login-form">
      <form [formGroup]="loginForm" (ngSubmit)="login()">
        <div class="form-group">
          <label>Email: </label>
          <input type="email" class="form-control" placeholder="Insira seu email" formControlName="email">
        </div>
        <div class="form-group">
          <label>Password</label>
          <input type="password" class="form-control" placeholder="Insira sua senha" formControlName="password">
        </div>
        <button type="submit" class="btn btn-black">Login</button>
        <button type="submit" class="btn btn-secondary"routerLink="/register" routerLinkActive="selected">Registrar</button>
      </form>
     </div>
  </div>
</div>
